
сравнение исходных формул статьи с новыми формулами модели.docx
Grib1_laccaza_opilki_from_begining_diffuse_topaj.alp.autosave
Grib1_laccaza_opilki_from_begining_diffuse_topaj1.alp.autosave
/G_lacc_opi_4nakop_top_anat.alp
